{% extends "layout.html" %}

{% block body %}

  <div class="page">

  <h4>modENCODE Data Quality Standards</h4>
These documents describe project-wide
quality control standards applied to specific modENCODE experiment types.

<ul>
<li>QC Standards for chromatin IP 
<a href="https://docs.google.com/document/d/1zflVNUEq7gpBq7Mg29dbh7y2x-SjqBA_mQIoxqc54Z4/edit">
(<b>ChIP-chip</b> and <b>ChIP-seq</b>)
</a>
</li>
<li>QC Standards for 
whole genome shotgun sequencing 
<a href="https://docs.google.com/document/d/1K5uRpKH4wL9sz4tk3QvKRCeRWKH-FG8lg64A7xtXZqk/edit">
(<b>RNA-seq</b>)
</a>
</li>
<li>QC Standards for 
RNA-binding protein immunoprecipitation
<a href="https://docs.google.com/document/d/1BgpXjq71D8dBFeXwMl-K54PX7EogHZVJ8WrIbKJsAA0/edit">
(<b>RIP</b>)
</a>
</li>
</ul>

<p>  </p>
<h4>modENCODE Data gentle introductions guides</h4>
<ul>
<li>
<a href="https://docs.google.com/document/d/1-BQfalYIZ58POE29dnzIw903FMhrIwiTIorGOcTCQWg/edit">
<b>Transcription Factors and other Chromatin Protein Binding Sites</b>
</a>
</li>
</ul>

<p>  </p>
<h4>modENCODE tools</h4>
<ul>
<li>modMine  
<a href="../quickstart/">
<b>quick start guide</b>
</a>
</li>
</ul>

<p>  </p>
<h4>Other Documents</h4>
Publications, press releases and policy documents can be found at the 
<a href="http://www.genome.gov/26524507">National Human Genome Research Institute</a>.





  </div>

{% endblock %}
