{% extends "layout.html" %}

{% block body %}

  <div class="page">

<h3>Publications of the modENCODE project</h3>


<p>This is a collection of publications connected to the project. If you note any omission or mistake please contact us at help@modencode.org. </p>


<table id="toc" class="toc" summary="publications">


<tr >
<th >
<th >Title
<th >Citation
<th >PMID
</tr>

<tr >
<td  ><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" /> 
<td  ><a target="_blank"  href="http://genome.cshlp.org/cgi/pmidlookup?view=long&amp;pmid=19996087">
Drosophila ORC localizes to open chromatin and marks sites of cohesin complex loading.
</a>
<td  >MacAlpine et al., Genome Res. 2010 Feb;20(2):201-11
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=19996087">19996087</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/cgi/pmidlookup?view=long&amp;pmid=20921232">
Conservation of an RNA regulatory map between Drosophila and mammals
</a>
<td  >Brooks et al, Genome Res. 2011 Feb;21(2):193-202
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=20921232">20921232</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/cgi/pmidlookup?view=long&amp;pmid=21177957">
Developmental control of the DNA replication and transcription programs
</a>
<td  >Nordman et al, Genome Res. 2011 Feb;21(2):175-81.
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177957">21177957</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177961">
Genome-wide analysis of promoter architecture in Drosophila melanogaster
</a>
<td  >Hoskins et al, Genome Res. 2011 Feb;21(2):182-92
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177961">21177961</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/content/21/2/301.full">
The transcriptional diversity of 25 Drosophila cell lines
</a>
<td  >Cherbas et al, Genome Res. 2011. 21: 301-314 
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177962">21177962</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177969">
Deep annotation of Drosophila melanogaster microRNAs yields insights into their processing, modification, and emergence
</a>
<td  >Berezikov et al, Genome Res. 2011 Feb;21(2):203-15
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177969">21177969</a>
</tr>


<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/cgi/pmidlookup?view=long&amp;pmid=21177972">
Plasticity in patterns of histone modifications and chromosomal proteins in Drosophila heterochromatin
</a>
<td  >Riddle et al., Genome Res. 2011 Feb;21(2):147-63
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177972">21177972</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/cgi/pmidlookup?view=long&amp;pmid=21177973">
Chromatin signatures of the Drosophila replication program.
</a>
<td  >Eaton et al, Genome Res. 2011 Feb;21(2):164-74
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177973">21177973</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://www.sciencemag.org/content/330/6012/1787.full">
Identification of Functional Elements and Regulatory Circuits by Drosophila modENCODE
</a>
<td  >modENCODE Consortium et al., Science 24 December 2010:<br/>Vol. 330 no. 6012 pp. 1787-1797
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177974">21177974</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://www.ncbi.nlm.nih.gov/pmc/articles/pmid/21179089/?tool=pubmed">
Comprehensive analysis of the chromatin landscape in Drosophila melanogaster
</a>
<td  >Kharchenko et al., Nature. 2011 Mar 24;471(7339):480-5
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21179089">21179089</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://www.ncbi.nlm.nih.gov/pubmed?term=21179090">
The developmental transcriptome of Drosophila melanogaster
</a>
<td  >Graveley et al., Nature. 2011 Mar 24;471(7339):473-9
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21179090">21179090</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://www.biomedcentral.com/1471-2164/12/134">
ChIP-chip versus ChIP-seq: lessons for experimental design and data analysis.
</a>
<td  >Ho et al, BMC Genomics. 2011 Feb 28;12:134.
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21356108">21356108</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3179250/?tool=pubmed">
A cis-regulatory map of the Drosophila genome
</a>
<td  >Negre et al., Nature. 2011 March 24; 471(7339): 527-531. 
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21430782">21430782</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://www.biomedcentral.com/1471-2105/12/251">
Determinants of antigenicity and specificity in immune response for protein sequences
</a>
<td  >Wang et al, BMC Bioinformatics. 2011 Jun 21;12:251
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21693021">21693021</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://www.ncbi.nlm.nih.gov/pubmed?term=21724831">
Integrative analysis of gene amplification in Drosophila follicle cells: parameters of origin activation and repression
</a>
<td  >Kim et al, Genes Dev. 2011 Jul 1;25(13):1384-98.
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21724831">21724831</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/cgi/pmidlookup?view=long&amp;pmid=21816910">
Synthetic spike-in standards for RNA-seq experiments
</a>
<td  >Jiang et al, Genome Res. 2011 Sep;21(9):1543-51
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21816910">21816910</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://rnajournal.cshlp.org/cgi/pmidlookup?view=long&amp;pmid=21865603">
Identification and experimental validation of splicing regulatory elements in Drosophila melanogaster reveals functionally conserved splicing enhancers in metazoans.
</a>
<td  >Brooks et al., RNA. 2011 Oct;17(10):1884-94
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21865603">21865603</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/cgi/pmidlookup?view=long&amp;pmid=21994247">
Evidence of abundant stop codon readthrough in Drosophila and other metazoa.
</a>
<td  >Jungreis et al, Genome Res. 2011 Dec;21(12):2096-113
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21994247">21994247</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/cgi/pmidlookup?view=long&amp;pmid=22090375">
Developmental control of gene copy number by repression of replication initiation and fork progression.
</a>
<td  >Sher et al., Genome Res. 2012 Jan;22(1):64-75
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=22090375">22090375</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://dx.plos.org/10.1371/journal.pgen.0020097">
Histone H3.3 variant dynamics in the germline of Caenorhabditis elegans.
</a>
<td  >Ooi et al, PLoS Genet. 2006 Jun;2(6):e97
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=16846252">16846252</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/content/19/4/657.long">
Massively parallel sequencing of the polyadenylated transcriptome of C. elegans
</a>
<td >Hillier et al., Genome Res. 2009. 19: 657-666
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=19181841">19181841</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://dx.plos.org/10.1371/journal.pgen.1000848">
Genome-wide identification of binding sites defines distinct functions for Caenorhabditis elegans PHA-4/FOXA in development and environmental response.
</a>
<td  >Zhong et al, PLoS Genet. 2010 Feb 19;6(2):e1000848
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=20174564">20174564</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3142571/?tool=pubmed">
The landscape of C. elegans 3&#39;UTRs.
</a>
<td  >Mangone et al, Science. 2010 July 23; 329(5990): 432-435. 
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=20522740">20522740</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://www.biomedcentral.com/1471-2164/11/383">
Comparison and calibration of transcriptome data from RNA-Seq and tiling arrays
</a>
<td  >Agarwal et al, BMC Genomics. 2010 Jun 17;11:383.
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=20565764">20565764</a>
</tr>


<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://www.rnajournal.org/cgi/pmidlookup?view=long&amp;pmid=21810936">
Age-associated changes in expression of small, noncoding RNAs, including microRNAs, in C. elegans.
</a>
<td  >Kato et al, RNA. 2011 Oct;17(10):1804-20
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21810936">21810936</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://www.pnas.org/cgi/pmidlookup?view=long&amp;pmid=22025700">
Epigenome characterization at single base-pair resolution
</a>
<td  >Henikoff et al., Proc Natl Acad Sci U S A. 2011 Nov 8;108(45):18318-23
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=22025700">22025700</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://dx.doi.org/10.1007/978-1-61779-477-3_25">
Salt fractionation of nucleosomes for genome-wide profiling
</a>
<td  >Teves et al, Methods Mol Biol. 2012;833:421-32
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=22183608">22183608</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/cgi/pmidlookup?view=long&amp;pmid=22219512">
Cell-type-specific nuclei purification from whole animals for genome-wide expression and chromatin profiling
</a>
<td  >Steiner et al., Genome Res. 2012 Apr;22(4):766-77
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=22219512">22219512</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" /><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://dx.plos.org/10.1371/journal.pcbi.1002190">
Construction and analysis of an integrated regulatory network derived from high-throughput sequencing data.
</a>
<td  >Cheng et al, PLoS Comput Biol. 2011 Nov;7(11):e1002190
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=22125477">22125477</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" /><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://dx.doi.org/10.1038/ng.948">
Evidence for compensatory upregulation of expressed X-linked genes in mammals, Caenorhabditis elegans and Drosophila melanogaster.
</a>
<td  >Deng et al., Nat Genet. 2011 Oct 23;43(12):1179-85
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=22019781">22019781</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" /><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://www.ncbi.nlm.nih.gov/pubmed?term=21131980">
An assessment of histone-modification antibody quality
</a>
<td  >Egelhofer et al, Nat Struct Mol Biol. 2011 Jan;18(1):91-3
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21131980">21131980</a>
</tr>


<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://www.biomedcentral.com/1471-2105/12/139">
PeakRanger: a cloud-enabled peak caller for ChIP-seq data
</a>
<td  >Feng et al, BMC Bioinformatics. 2011 May 9;12:139.
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21554709">21554709</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://genomebiology.com/content/12/2/R15">
A statistical framework for modeling gene expression using chromatin features and application to modENCODE datasets
</a>
<td  >Cheng et a,l Genome Biol. 2011;12(2):R15
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21324173">21324173</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" /><img src="http://intermine.modencode.org/query/model/images/f_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/content/21/2/286.full">
Computational and experimental identification of mirtrons in Drosophila melanogaster and Caenorhabditis elegans
</a>
<td  >Chung et al, Genome Res. 2011. 21: 286-300
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177960">21177960</a>
</tr>




<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/content/21/2/255.full">
A global analysis of C. elegans trans-splicing
</a>
<td  >Allen et al, Genome Res. 2011. 21: 255-264
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177958">21177958</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/content/21/2/245.full">
Diverse transcription factor binding features revealed by genome-wide ChIP-seq in C. elegans
</a>
<td  >Niu et al, Genome Res. 2011. 21: 245-254
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177963">21177963</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/cgi/pmidlookup?view=long&amp;pmid=21177963">
Diverse transcription factor binding features revealed by genome-wide ChIP-seq in C. elegans.
</a>
<td  >Niu et al, Genome Res. 2011 Feb;21(2):245-54
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177963">21177963</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/content/21/2/227.full">
Broad chromosomal domains of histone modification patterns in C. elegans
</a>
<td  >Liu et al, Genome Res. 2011. 21: 227-236 
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177964">21177964</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/content/21/2/237.full">
High nucleosome occupancy is encoded at X-linked gene promoters in C. elegans
</a>
<td  >Ercan et al, Genome Res. 2011. 21: 237-244 
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177966">21177966</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/content/early/2010/12/21/gr.114595.110">
A spatial and temporal map of C. elegans gene expression
</a>
<td  >Spencer et al; Genome Res. 2010
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177967">21177967</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://genome.cshlp.org/content/21/2/276.full">
Prediction and characterization of noncoding RNAs in C. elegans by integrating conservation, secondary structure, and high-throughput sequencing and array data
</a>
<td  >Lu et al, Genome Res. 2011. 21: 276-285 
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177971">21177971</a>
</tr>

<tr >
<td><img src="http://intermine.modencode.org/query/model/images/w_vvs.png" />
<td  ><a target="_blank"  href="http://www.sciencemag.org/content/330/6012/1775.full">
Integrative Analysis of the Caenorhabditis elegans Genome by the modENCODE Project</a>
<td  >Gerstein et al; Science 24 December 2010:Vol. 330 no. 6012 pp. 1775-1787 
<td ><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=21177976">21177976</a>
</tr>





</table>



  </div>

{% endblock %}
